@font-face {
    font-family: cinthiaEdito;
    src: url(ressources/TheCinthiaEdito.ttf);
}


body {
    background-color: #262626;
    background-size: auto;
    font-family: 'Roboto', sans-serif;
}

#centertext {
    color: #ebebeb;
    font-size: 1400%;
    font-family: 'cinthiaEdito';
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    transition: 1s;
}

#centertext:hover {
    color: greenyellow;
    transition: 1s;
}

.textbox {
    color: #454545;
    background-color: whitesmoke;
    width: 500px;
    text-align: justify;
    padding: 20px;
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 5px;
    transition: 1s;
}

.textbox:hover {
    color: white;
    background-color: greenyellow;
    transition: 1s;
}

footer {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    position: relative;
    bottom: 0;
    background-color: #262626;
    color: whitesmoke;
    text-align: center;
}

#footer1 {
    margin: 12.5px auto;
    width: 500px;
}

.imgbox {
    color: #454545;
    background-color: whitesmoke;
    width: 500px;
    height: auto;
    text-align: justify;
    padding: 20px;
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 5px;
    transition: 1s;
}

div img {
    width: 100%;
}

.imgbox:hover {
    background-color: greenyellow;
    transition: 1s;
}

div span {
    position: relative;
    left: 82%;
}

@media only screen and (max-width: 500px) {
    .textbox {
        width: 90%;
        margin-bottom: 10%;
    }
    
    .imgbox {
        width: 100%;
        height: auto;
        padding: 0;
        margin-bottom: 10%;
    }
}